.intro-image {
    width: 450px;
    height: 550px; 
    object-fit: cover;
    z-index: 1; 
    margin-left: 100px;
}

.intro-container {
    width: 450px;
    height: 480px;
    text-align: center;
    margin-top: 50px;
    position: relative;
    right: 150px;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.intro-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}


@media screen and (min-width: 910px) and (max-width: 1200px){
    .intro-image {
        width: 400px;
        height: 550px; 
        margin-left: 0;
    }
    
    .intro-container {
        width: 450px;
        height: 450px;
        right: 110px;
        z-index: 1;
    }
}  

@media screen and (min-width: 420px) and (max-width: 909px){
    .intro-image {
        width: 420px;
        height: 550px; 
        margin-left: 0;
    }
    
    .intro-main-container{
        flex-direction: column;
    }

    .intro-container {
        width: 420px;
        height: 480px;
        right: 0px;
        align-self: center;
        z-index: 1;
    }
}  

@media screen and (min-width: 1px) and (max-width: 419px){
    .intro-image {
        width: 300px;
        height: 550px; 
        margin-left: 0;
    }
    
    .intro-main-container{
        flex-direction: column;
    }

    .intro-container {
        font-size: 13px;
        width: 300px;
        height: 480px;
        right: 0px;
        align-self: center;
        z-index: 1;
    }
}  


